


.homeTopPage{
position: relative;

}
.CategoryShowCase{
    position: absolute;
    top: 55%;
    left: 5%;
    font-size: 10px !important;
    // border: 5px solid #ddd;
    width: 45rem;
    height: 15rem;
}

.case1{
    top: 35% !important;

}
.case2{

    top: 60% !important;
    left: 60% !important;
}
.imageDisplay{
    display: block !important;
}

.fifthPage{
.fifthPageBackground{
    visibility: hidden;
}

.fifthPageAbsolute{

    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width:100% ;

    
    
.fifthPageTitle{
color: black;
font-family: 'Helvetica 65 Medium', sans-serif;
font-size: 2rem;
display: flex;
justify-content: center;
margin-bottom:50px ;
}
.fifthPageFlex{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0PX;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
 
   img{
    width: 100%;
   }
}
}
}

.seventhPage{

display: flex;
justify-content: center;
margin: 1%;
.footerLabel{
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight:300 ;
    margin: 2vh 0;
}
.labelPart{
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight:300 ;
    margin: 2vh 0;
.LabelShop {
    margin-left: 5vw;
}
}
img{display: block;
    object-fit: cover;
    flex-shrink: 0;}
.photoPart{
    display: flex;
    flex-direction: row;

.bigRectangle{
    width: 50vh;
}
.gridPhotoPart{
    width: 100vh;

    display: flex;
    flex-direction: row;
width: 50vh;
flex-flow: row wrap;
img{width: 25vh;
height: 25vh;}
}
}
}



@media only screen and (max-width: 1700px) {

.case2{
    top:20% !important;
    left: 20% !important;
}


  }
  

  @media only screen and (max-width: 860px) {
html{
    font-size: 8px !important;
} 
.CategoryShowCase{
  
    
   
        width: 45vw;
        height: 15vh;
        
    }
.fifthPage{
    display: none;
}
.seventhPage{
      display: none;
    }
      }

@media only screen and (max-width: 425px) {
    .CategoryShowCase{
        top: 20% !important;
    }

      }

  
