html{

    --height:112px;

}

.Navbar{
    font-family: 'Helvetica Neue', sans-serif !important;
    font-size: 19px !important;
    height: 112px !important;
    background: none !important;
    border: none !important;
    position: absolute !important;
width: 100%;
 ul{
        flex: 1 !important;
        margin: 0 5% !important;
li{
a{
span{
    color: #fff !important;
}
}
}
    }
    z-index: 10;
}
.navbarLogo{
    font-size:70px !important;
     font-weight:bold !important;
     flex:1;
     justify-content:center !important;
     color:#000 !important;
    a{
        justify-content: center !important;
    }
}

@media screen and  (max-width:1110px ) { 
.Navbar{font-size: 16px !important;}
 }