.homeTopPage{
position: relative;

}
.CategoryShowCase{
    position: absolute;
    top: 55%;
    left: 5%;
    font-size: 10px !important;
    // border: 5px solid #ddd;
    width: 45rem;
    height: 15rem;
}

.case1{
    top: 35% !important;

}
.case2{

    top: 60% !important;
    left: 60% !important;
}
.imageDisplay{
    display: block !important;
}

.fifthPage{
.fifthPageBackground{
    visibility: hidden;
}

.fifthPageAbsolute{

    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width:100% ;

    
    
.fifthPageTitle{
color: black;
font-family: 'Helvetica 65 Medium', sans-serif;
font-size: 2rem;
display: flex;
justify-content: center;
margin-bottom:50px ;
}
.fifthPageFlex{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0PX;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
 
   img{
    width: 100%;
   }
}
}
}
